<%= simple_form_for([:admin, @administrator]) do |f| %>
  <div class='form-inputs'>
    <div class='row'>
      <div class='col-md-6'>
        <%= f.input :name, input_html: {'responsive-focus' => true} %>
      </div>
      <div class='col-md-6'>
        <%= f.input :email, required: true %>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-6'>
          <%= f.input :password, required: @administrator.new_record?,
              hint: (@administrator.errors.blank? && @administrator.persisted?) ? t('info.editing_password') : '' %>
      </div>
      <div class='col-md-6'>
        <%= f.input :password_confirmation, required: @administrator.new_record? %>
      </div>
    </div>

    <%= f.submit '', class: 'hide' %>
  </div>
<% end %>
