<% content_for :sub_header do %>
  <div class='row'>
    <div class='col-sm-6'>
      <h2><%= t("models_and_attributes.models.student.other") %></h2>
      <ol class='breadcrumb'>
        <li><%= link_to t('page.modules.home'), [:teacher, :root] %></li>
        <li><%= link_to t('page.modules.students'), [:teacher, :students] %></li>
        <li class='active'>
          <strong><%= t('actions.edit') %></strong>
        </li>
      </ol>
    </div>
    <div class='col-sm-6 text-right'>
      <%= link_to '#', class: 'btn btn-w-s btn-primary m-t-md',
            data: {'form-submit' => url_for([:teacher, @student])} do %>

        <i class='fa fa-save'></i><br/>
        <%= t('buttons.save') %>
      <% end %>
      <%= link_to [:teacher, @student], class: 'btn btn-w-s btn-warning m-t-md' do %>
        <i class='fa fa-remove'></i><br/>
        <%= t('buttons.cancel') %>
      <% end %>
    </div>
  </div>
<% end %>

<%= flash_messages %>
<div class="row">
  <div class='col-xs-12 current-responsive-padding'>
    <div class='ibox float-e-margins'>
      <div class='ibox-content protected'>
        <%= simple_form_for([:teacher, @student]) do |f| %>
          <div class='form-inputs'>
            <div class='row'>
              <div class='col-md-6'>
                <%= f.input :name, disabled: true %>
              </div>
              <div class='col-md-6'>
                <%= f.input :email, disabled: true %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :gender, as: :string, disabled: true, input_html: { value: t(@student.gender, scope: [:enums, :items, :gender]) } %>
              </div>
              <div class="col-md-6">
                <%= f.input :cpf, disabled: true, input_html: { value: @student.formatted_cpf } %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <%= f.input :phone, disabled: true, input_html: { value: @student.formatted_phone } %>
              </div>
              <div class="col-md-6">
                <%= f.input :birth_date, as: :string, disabled: true, input_html: { value: l(@student.birth_date) } %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <%= f.association :classroom, label_method: :identifier, include_blank: false, input_html: { chosen: '' } %>
              </div>
            </div>

            <%= f.submit '', class: 'hide' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>