<% content_for :sub_header do %>
  <div class='row'>
    <div class='col-sm-6'>
      <h2><%= current_user.name %></h2>
      <ol class='breadcrumb'>
        <li><%= link_to t('page.modules.home'), [:teacher, :root] %></li>
        <li class='active'>
          <strong><%= t('page.modules.classrooms_and_subjects') %></strong>
        </li>
      </ol>
    </div>
    <div class='col-sm-6 text-right'>
      <%= link_to '#', class: 'btn btn-w-s btn-primary m-t-md',
            data: {'form-submit' => url_for([:teacher, :classrooms_and_subjects])} do %>

        <i class='fa fa-save'></i><br/>
        <%= t('buttons.save') %>
      <% end %>
      <%= link_to [:teacher, :root], class: 'btn btn-w-s btn-warning m-t-md' do %>
        <i class='fa fa-remove'></i><br/>
        <%= t('buttons.cancel') %>
      <% end %>
    </div>
  </div>
<% end %>

<%= flash_messages %>
<div class='row'>
  <div class='col-xs-12 current-responsive-padding'>
    <div class='ibox float-e-margins'>
      <div class='ibox-content protected'>
        <%= simple_form_for(current_user, url: [:teacher, :classrooms_and_subjects]) do |f| %>
          <div class='form-inputs'>
            <div ng-controller='TeachController'
                  ng-init="classrooms = <%= Classroom.all.to_json %>;
                            subjects = <%= Subject.all.to_json %>;
                            classroomsSubjects = <%= @teacher_classroom_subjects.to_json %>;">

              <div class='row'>
                <div class='col-xs-12'>
                  <label class="string required control-label" for="add_classroom">
                    <%= t('activerecord.models.classroom.other') %> / <%= t('activerecord.models.subject.other') %>
                  </label>
                  <div class='well'>
                    <div class='row text-right'>
                      <div class="col-xs-12">
                        <button type='button' class='btn btn-primary m-r-xs'
                                data-toggle='modal' data-backdrop='static' data-target='#add-classroom-subject'>
                          <i class='fa fa-plus'></i>
                          <%= t('buttons.add') %>
                        </button>
                      </div>
                    </div>
                    <hr class='m-t-xs'>

                    <div class='row'>
                      <div class='col-xs-12'>
                        <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_classrooms')},
                                                          html: {'ng-hide' => 'notDestroyed(classroomsSubjects).length > 0'} %>

                        <div class='full-height-scroll' ng-show='notDestroyed(classroomsSubjects).length > 0' full-scroll>
                          <div class='table-responsive max-height-table'>
                            <table class='table table-striped table-hover vertical-center'>
                              <tr ng-repeat="item in (classroomsSubjects | orderBy:'identifier') track by $index" ng-hide='item._destroy === 1'>
                                <td><strong>{{item.identifier}}</strong></td>
                                <td>{{item.description}}</td>
                                <td>
                                  <input type='hidden' name='teacher[classrooms_subjects_attributes][][id]' ng-value='item.id'>
                                  <input type='hidden' name='teacher[classrooms_subjects_attributes][][classroom_id]' ng-value='item.classroom_id'>
                                  <input type='hidden' name='teacher[classrooms_subjects_attributes][][subject_id]' ng-value='item.subject_id'>
                                  <input type='hidden' name='teacher[classrooms_subjects_attributes][][_destroy]' ng-value='item._destroy'>

                                  <span class='btn btn-danger btn-sm pull-right' ng-click='removeClassroomSubject(item)'>
                                    <i class='fa fa-trash'></i>
                                  </span>
                                </td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class='modal inmodal' id='add-classroom-subject' tabindex='-1' role='dialog' aria-hidden='true'>
                <div class='modal-dialog'>
                  <div class='modal-content animated fadeIn'>
                    <div class='modal-header'>
                      <i class='fa fa-plus modal-icon'></i>
                      <h4 class='modal-title'>
                        <%= t('view.keywords.title_classrooms_subjects') %>
                      </h4>
                    </div>

                    <div class='modal-body'>
                      <div class="row">
                        <div class="col-sm-4">
                          <div class='form-group'>
                            <select chosen data-placeholder="<%= t('activerecord.models.classroom.one') %>" class='form-control input-sm'
                                ng-model='selectedClassroom' ng-options='classroom.identifier for classroom in classrooms track by classroom.id'>
                              <option></option>
                            </select>
                          </div>
                        </div>

                        <div class="col-sm-8">
                          <div class='form-group'>
                            <select chosen data-placeholder="<%= t('activerecord.models.subject.one') %>" class='form-control input-sm'
                                ng-model='selectedSubject' ng-options='subject.description for subject in subjects track by subject.id'>
                              <option></option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class='modal-footer'>
                      <button type='button' class='btn btn-white' data-dismiss='modal'><%= t('buttons.close') %></button>
                      <button type='button' class='btn btn-primary' ng-click='addClassroomSubject(selectedClassroom, selectedSubject)'>
                        <%= t('buttons.add') %>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <%= f.submit '', class: 'hide' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>