<div class='passwordBox animated fadeInDown'>
  <div class='row'>

    <div class='col-md-12'>
      <div class='ibox-content'>
        <h2 class='font-bold text-center'><%= t('passwords.edit.title') %></h2>
        <p class='text-center'><%= t('passwords.edit.greeting') %></p>

        <div class='row'>
          <div class='col-lg-12'>
            <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'm-t' }) do |f| %>
              <%= f.input :reset_password_token, as: :hidden %>
              <%= flash_messages fixed: true,
                  alert: { show: f.full_error(:reset_password_token).present?, message: t('passwords.errors.invalid_token') } %>

              <div class='form-group'>
                <%= f.input :password, label: false, required: true %>
                <%= f.input :password_confirmation, label: false, required: true %>
              </div>

              <%= f.button :submit, t('buttons.change_my_password'), class: 'btn btn-primary block full-width m-b' %>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class='row'>
    <div class='col-md-12 text-center'>
      <small>
        <strong><%= t('page.titles.short') %></strong> <%= Date.today.year %>
      </small>
    </div>
  </div>
</div>