<%% content_for :angular_controller, 'NgTableController' %>
<%% content_for :sub_header do %>
  <div class='row'>
    <div class='col-sm-6'>
      <h2><%%= t('models_and_attributes.models.<%= singular_table_name %>.other') %></h2>
      <ol class='breadcrumb'>
        <li><%%= link_to t('page.modules.home'), [:admin, :root] %></li>
        <li class='active'>
          <strong><%%= t('page.modules.<%= plural_table_name %>') %></strong>
        </li>
      </ol>
    </div>
    <div class='col-sm-6 text-right'>
      <%%= link_to [:new, :admin, :<%= singular_table_name %>], class: 'btn btn-w-s btn-primary m-t-md' do %>
        <i class='fa fa-plus'></i><br/>
        <%%= t('buttons.new') %>
      <%% end %>
    </div>
  </div>
<%% end %>

<%= flash_messages %>

<div class="row responsive-padding">
  <div class='col-xs-12' ng-init="initTable(<%%= @config.to_json_with_active_support_encoder %>, 'admin<%= class_name.pluralize %>')">
    <div class='ibox float-e-margins'>
      <div class='ibox-title'>
        <h5>
          <%%= t('view.keywords.list') %>&nbsp;&nbsp;&nbsp;
          <big><i class='fa fa-spinner fa-spin text-success' ng-show='loading'></i></big>
        </h5>
      </div>

      <div class='ibox-content'>
        <div class='m-b-lg'>
          <div class='form-inputs'>
            <input type='text' id='filter' placeholder="<%%= t('js.placeholders.search') %>" responsive-focus
                class='form-control input-md' ng-model='config.filter.general'>
          </div>
          <div>
            <small ng-bind-html='infoMessage'></small>
            <small>
              <a class='pull-right' ng-click='clearFilters()'><%%= t('buttons.clear_filters') %></a>
            </small>
          </div>
        </div>

        <hr>
        <%= custom_flash_messages info: {show: true, fixed: true, icon: :info, message: t('info.no_results')}, html: {'ng-hide' => 'tableParams.data.length > 0'} %>
        <div class='table-responsive' ng-show='tableParams.data.length > 0'>
          <div loading-container='tableParams.settings().$loading'>
            <table ng-table='tableParams' template-pagination='/angular-templates/ng-table/paginate' class='table table-striped table-hover'>
              <tr data-href='{{<%= singular_table_name %>.showHtmlUrl}}' ng-repeat='<%= singular_table_name %> in $data track by <%= singular_table_name %>.id'>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
                <td data-title="'<%%= t('activerecord.attributes.<%= singular_table_name %>.<%= attribute.name %>') %>'" sortable="'<%= attribute.name %>'">
                  {{<%= singular_table_name %>.<%= attribute.name[0] + attribute.name.camelize[1..-1] %>}}
                </td>
<% end -%>

              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>