<nav class='navbar-default navbar-static-side' role='navigation'>
  <div class='sidebar-collapse'>
    <ul class='nav' id='side-menu'>
      <li class='nav-header'>
        <div class='dropdown profile-element'>
          <span>
            <%= image_tag 'deleatur-xs.png', class: 'img-circle', alt: 'Deleatur' %>
          </span>
          <a data-toggle='dropdown' class='dropdown-toggle' href='#'>
            <span class='clear'>
              <span class='block m-t-xs' title='<%= current_user.name %>'>
                <strong class='font-bold'><%= current_user.name.truncate(40) %></strong>
              </span>
              <span class='text-muted text-xs block' title='<%= current_user.email %>' data-toggle='tooltip'>
                <%= current_user.email.truncate(23) %>
                <b class='caret'></b>
              </span>
            </span>
          </a>
          <ul class='dropdown-menu animated fadeInRight'>
            <li>
              <%= link_to edit_admin_profile_path(Rack::Utils.escape_path(current_user.name.remover_acentos.downcase.gsub(' ', '-'))) do %>
                <i class='fa fa-edit'></i> <%= t('profile.edit') %>
              <% end %>
            </li>
            <li class='divider'></li>
            <li>
              <%= link_to destroy_session_path(current_user.user_type), method: :delete,
                  data: {confirm: t('js.messages.contents.signout')} do %>
                <i class='fa fa-sign-out'></i> <%= t('profile.signout') %>
              <% end %>
            </li>
          </ul>
        </div>
      </li>
      <%= render "layouts/#{current_user.user_type}_nav_items"  %>
    </ul>
  </div>
</nav>