<div class='row border-bottom'>
  <nav class='navbar navbar-static-top m-b-none' role='navigation'>
    <div class='navbar-header'>
      <a class='navbar-minimalize minimalize-styl-2 btn btn-primary' href='#'>
        <i class='fa fa-bars'></i>
      </a>
    </div>
    <ul class='nav navbar-top-links navbar-right user-menu-responsive'>
      <li>
        <span class='m-r-sm text-muted welcome-message'>
          <%= t('page.welcome_html', app_name: t('app.name')) %>
        </span>
      </li>



      <li class="visible-xs user-menu-item-responsive">
        <div class='dropdown'>
          <a data-toggle='dropdown' class='dropdown-toggle btn btn-primary' href='#'>
            <b class='caret'></b>
          </a>
          <ul class='dropdown-menu animated fadeInRight user-menu'>
            <li>
              <%= link_to [:edit, :admin, :profile] do %>
                <i class='fa fa-edit'></i> <%= t('profile.edit') %>
              <% end %>
            </li>
            <li class='divider'></li>
            <li>
              <%= link_to destroy_session_path(current_user.user_type), method: :delete,
                  data: {confirm: t('js.messages.contents.signout')} do %>
                <i class='fa fa-sign-out'></i> <%= t('profile.signout') %>
              <% end %>
            </li>
          </ul>
        </div>
      </li>



      <li class="hidden-xs">
        <%= link_to destroy_session_path(current_user.user_type), method: :delete, class: 'superior-logout',
            data: {confirm: t('js.messages.contents.signout')} do %>
          <i class='fa fa-sign-out'></i> <%= t('profile.signout') %>
        <% end %>
      </li>
    </ul>
  </nav>
</div>